.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Ensure the image is fully responsive */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%; /* To ensure the image does not overflow */
}

.shop-image {
  width: 100%; /* Make the image take full width of the container */
  height: auto; /* Maintain aspect ratio */
  max-width: 1802px; /* Optional: set the maximum width of the image */
  filter: brightness(0.9) contrast(1.1); /* Add a subtle CSS filter for visual effect */
}

/* Additional filter options you can experiment with */
.shop-image:hover {
  filter: brightness(1) contrast(1.2); /* Increase brightness and contrast on hover */
  transition: all 0.3s ease; /* Smooth transition effect */
}

.brands-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.brands-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal-width columns */
  gap: 20px; /* Adds space between each brand */
  justify-items: center; /* Centers the brands horizontally in their grid cells */
  align-items: center; /* Centers the brands vertically in their grid cells */
}

.brand {
  margin: 0 auto; /* Ensure the brand is centered in its column */
}

.brand-img {
  max-width: 150px; /* Keeps the brand image size consistent */
  height: auto;
  transition: transform 0.3s ease; /* Optional: Adds hover effect */
}

.brand-img:hover {
  transform: scale(1.1); /* Slightly enlarges the brand image on hover */
}

.certificate-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.certificate-wrapper {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* 4 certificates in a row for larger devices */
  gap: 20px; /* Adds space between each certificate */
  justify-items: center; /* Centers the certificates horizontally in their grid cells */
  align-items: center; /* Centers the certificates vertically in their grid cells */
}

.certificate {
  margin: 0 auto; /* Ensure the certificate is centered in its column */
}

.certificate-img {
  max-width: 150px; /* Keeps the certificate image size consistent */
  height: auto;
  transition: transform 0.3s ease; /* Optional: Adds hover effect */
}

.certificate-img:hover {
  transform: scale(1.1); /* Slightly enlarges the certificate image on hover */
}

/* Media query for small devices */
@media (max-width: 768px) {
  .certificate-wrapper {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 certificates per row for smaller devices */
  }
}
