.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
}

.dropend:hover > .dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 0.125em;
}
